.EntryContent {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: rgb(238, 238, 238) 0px 4px 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 7px;
  &-container {
    width: 90%;
    margin: 0 auto;
  }
  &-loader {
    svg {
      min-height: 500px;
    }
  }
  &-image {
    text-align: center;
    img {
      border-radius: 7px;
      width: 100%;
      max-height: 400px;
      object-fit: cover;
    }
  }
  &-title {
    font-weight: bold;
    @media (max-width: 760px) {
      font-size: 20px;
    }
  }
  &-summary {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &-info {
    margin-top: 15px;
    display: flex;
    align-items: center;
    &--feedName {
      font-size: 14px;
      color: #888;
      display: flex;
      align-items: center;
      span {
        margin-left: 3px;
      }
      @media (max-width: 760px) {
        font-size: 11px;
      }
    }
    &--publishedAgo {
      font-size: 14px;
      margin-left: 20px;
      color: #888;
      display: flex;
      align-items: center;
      span {
        margin-left: 3px;
      }
      @media (max-width: 760px) {
        font-size: 11px;
      }
    }
  }
  &-link {
    font-weight: 500;
    display: block;
    background-color: #eee;
    text-decoration: none;
    border-radius: 7px;
    margin: 20px 0;
    padding: 15px;
    text-align: center;
    color: #222;
    &:hover {
      background-color: #e7e7e7;
    }
  }
}
