@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/NotoSansJP-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/NotoSansJP-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/NotoSansJP-Bold.otf') format('opentype');
  font-display: swap;
}

html, body {
  font-family: NotoSansJP, sans-serif;
  font-weight: normal;
}

.header-title {
  font-family: Montserrat, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin: 10px auto;
  text-align: center;
  letter-spacing: -2px;
}
@media (max-width: 760px) {
  .header-title {
    font-size: 30px;
    margin: 10px auto;
  }
}
