html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: NotoSansJP, Montserrat, sans-serif, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic";
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-size: 16px;
  p {
    margin: 0;
  }
  [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
  }

  button, input {
    overflow: visible;
    outline: none;
  }

  input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none !important;
  }
}
