@font-face{
  font-family: "Montserrat-Regular";
  src: url('./assets/fonts/Montserrat-Regular.ttf');
  font-display: swap;
}
@font-face{
  font-family: "Montserrat-SemiBold";
  src: url('./assets/fonts/Montserrat-SemiBold.ttf');
  font-display: swap;
}
@font-face{
  font-family: "Montserrat-Bold";
  src: url('./assets/fonts/Montserrat-Bold.ttf');
  font-display: swap;
}
@font-face{
  font-family: "NotoSansJP-Regular";
  src: url('./assets/fonts/NotoSansJP-Regular.otf');
  font-display: swap;
}
@font-face{
  font-family: "NotoSansJP-Medium";
  src: url('./assets/fonts/NotoSansJP-Medium.otf');
  font-display: swap;
}
@font-face{
  font-family: "NotoSansJP-Thin";
  src: url('./assets/fonts/NotoSansJP-Thin.otf');
  font-display: swap;
}
@font-face{
  font-family: "NotoSansJP-Bold";
  src: url('./assets/fonts/NotoSansJP-Bold.otf');
  font-display: swap;
}
 
html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: NotoSansJP-Regular, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  p {
    margin: 0;
  }
  [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
  }

  button, input {
    overflow: visible;
    outline: none;
  }

  input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none !important;
  }
}

.header-title {
  font-family: Montserrat-SemiBold;
  font-size: 40px;
  margin: 10px auto;
  text-align: center;
  letter-spacing: -2px;
  @media (max-width: 760px) {
    font-size: 30px;
    margin: 10px auto;
  }
}
